html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: ivory; */
}

/**
 * Interface
 */
.interface {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    font-family: 'Bebas Neue', cursive;
}

/**
 * Restart
 */
.restart {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 80px;
    background: #00000033;
    padding-top: 10px;
    pointer-events: auto;
    cursor: pointer;
}

/**
 * Controls
 */
.controls {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.controls .raw {
    display: flex;
    justify-content: center;
}

.controls .key {
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #ffffff;
    background: #ffffff44;
}

.controls .key.large {
    width: 144px;
}

.controls .key.active {
    background: #ffffff99;
}

/**
 * Lifes counter
 */
.lifes {
    position: absolute;
    width: 100%;
    top: 16px;
    right: -16px;
    font-size: 3.5vh;
    display: flex;
    gap: 6px;
}

/**
 * Level counter
 */
.level {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 3.5vh;
    display: flex;
    gap: 6px;
    color: #ffffff;
    justify-content: flex-end;
}

/**
 * Modal
 */
.modal-button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 40px;
    z-index: 2;
    cursor: pointer;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.modal-content {
    width: 80%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    z-index: 2;
    cursor: pointer;
    pointer-events: auto;
}

.modal-spacing {
    margin-top: 32px;
}